body {
   background-image: url("https://cdn.glitch.com/9529195d-62ac-4daf-a8c1-7bf2bb0614f7%2Fstars-09.jpg?1522003213016");
}

h1 {
  color: #30ceff;
  text-align: center;
  margin: 20px;
  padding: 25px;
  
}

.problem {
 color: #ffffff;    
}

#home-button {
 color: #ffffff; 
}

.blackhole {
 background-image: url("https://cdn.glitch.com/9529195d-62ac-4daf-a8c1-7bf2bb0614f7%2F171130141043_1_900x600.jpg?1522004127318");
  height: 500px;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  
  
  
}

@keyframes spin { 100% { transform:rotate(360deg); } }
.rotating{
    animation:spin 30s linear infinite;
}
.reverse-rotating{
    animation:spin reverse 30s linear infinite;
  background:red;
  display: block
}

.center {
    margin: auto;
    /*width: 50%;*/
}

.add-problem {
   position:absolute;
     bottom:10px;
     right:10px;
}